@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("../vendor/Inter-Regular.woff2") format("woff2"),
         url("../vendor/Inter-Regular.woff") format("woff"),
         url("../vendor/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url("../vendor/Inter-Medium.woff2") format("woff2"),
         url("../vendor/Inter-Medium.woff") format("woff"),
         url("../vendor/Inter-Medium.ttf") format("truetype");
  }


@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("../vendor/Inter-Black.woff2") format("woff2"),
         url("../vendor/Inter-Black.woff") format("woff"),
         url("../vendor/Inter-Black.ttf") format("truetype");
}