.popup__title {
    font-size: 24px;
    font-weight: 900;
    line-height: 1.2;
    padding-bottom: 24px;
    margin: 0;
}

@media screen and (max-width:400px) {
    .popup__title {
        font-size: 18px;
        padding-bottom: 47px;
    }
}